/* AuthPage.css */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота экрана */
    padding-left: 600px;
}

.auth-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Опционально: стилизация формы */
}
