/* Добавьте этот код в файл стилей или импортируйте его из файла стилей */
.machine-img {
    width: auto; /* Устанавливает ширину изображения в 500 пикселей */
    height: 400px; /* Устанавливает высоту изображения в 500 пикселей */
    object-fit: cover; /* Обеспечивает корректное заполнение пространства изображения, сохраняя пропорции */
}
